.page2 {
    margin-top: 10%;
    margin-bottom: 10%;
    p {
        color: $mainWhiteText;
        font-family: "Roxborough";
        text-align: center;
        font-size: 1.8vw;
        margin-bottom: 10px;
    }
    .owner {
        font-size: 1.2vw;
        margin-bottom: 50px;
    }
}
.about p {
    font-size: 2.43056vw;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}